*.class
*.log
*.bak
extract.json
/rtl/
*.html



# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/
verdiLog/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# Metals
.metals
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
null
*Zone.Identifier
java_outputs/*
sw/java/test/resources/mnist/*
#performance_results.csv

novas.conf
novas.rc
verdiLog/

java_hw_each_layer_outputs/*
java_dl4j_each_layer_outputs/*
java_dl4j_final_layer_outputs/*
onnx_debug_py/*
datasets_results/*
datasets_results_all_layer/*

vfastLog/*
project/*

#LLM agent memory-bank
memory-bank/*

#generated chart
/*.png
memory-bank/activeContext.md

#prompt and memorybank
prompt/
report/
benchmark_results/

datasets_results_Sloper4D.zip
tb_EXP_function_absolute_error.png
tb_EXP_function_absolute_error.png
tb_EXP_function_absolute_error.png

bin_values.txt
pb_values.txt
error_details.txt
tb_LN_function_absolute_error.png
tb_LN_function_comparison.png
tb_LN_function_relative_error.png

#python scripts
sw/python/
sw/scala/test/resources/
