*.class
*.log
*.bak
extract.json
/rtl/
*.html



# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/
verdiLog/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# Metals
.metals
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
null
*Zone.Identifier
java_outputs/*
sw/java/test/resources/mnist/*
#performance_results.csv

novas.conf
novas.rc
verdiLog/

java_hw_each_layer_outputs/*
java_dl4j_each_layer_outputs/*
java_dl4j_final_layer_outputs/*
onnx_debug_py/java_hw_final_layer_outputs/*

vfastLog/*
project/*

#LLM agent memory-bank
memory-bank/*

#generated chart
/*.png
memory-bank/activeContext.md
